{{ define "main" }}
<main>
    <article class="post">
        <div class="postInfo">
            <h1 class="title">{{ .Title }}</h1>
            <div class="meta">
                <span class="metaAuthor">{{ .Params.author}} </span>
                <time class="metaDate">{{ dateFormat .Site.Params.dateFormat .Date }}
                    {{ if .Draft }}
                    <span class="metaDateDraft">DRAFT</span>
                    {{ end }}
                </time>
            </div>
        </div>

        <section class="postIntro">
            {{ .Summary }}
        </section>

        {{ partial "toc" . }}

        <section class="postContent">
            {{ $content:= replace .Content .Summary "" }}
            {{ $content | safeHTML }}
        </section>

        <span class="postTags">
            <span class="postTagsLeadingText">Tags:</span>
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}" class="singlePostTag">{{ .Name }}</a>
            {{end}}
        </span>
    </article>
</main>
{{ end }}
